<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="cn.bupt.pojo.PersonMapper">

    <!-- 根据id查询Person，返回resultMap -->
    <select id="selectPersonById" parameterType="int"
            resultMap="PersonMapper">
        SELECT * from person where id = #{id}
    </select>

    <!-- 映射Peson对象的resultMap -->
    <resultMap type="cn.bupt.pojo.Person" id="PersonMapper">
        <id property="id" column="id"/>
        <result property="personName" column="personName"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <!-- 一对一关联映射:association   -->
        <association property="card_id" column="card_id"
                     select="cn.bupt.pojo.CardMapper.selectCardById"
                     javaType="cn.bupt.pojo.Card"/>
    </resultMap>
</mapper>
